* {
    margin: 0;
    padding: 0;
}

.layout {
    position: relative;
    background: rgba(63, 62, 62, 0.5);
    height: 100%
}

.layout::before {
    background: url(../../assectd/images/main-Img.png) no-repeat;
    content: "";
    background-size: cover;
    /* opacity: 0.6; */
    /* fill-opacity: 0.5; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.main-container {}