* {
  margin: 0;
  padding: 0;
  /* color: white; */
}

.lora-heading {

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-transform: capitalize;
}

.lora-para {
  text-shadow: 0 0 #514e4e;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: rgb(186 180 180);
  font-style: normal;
  padding: 2px 0px 25px 0px;
  text-transform: capitalize;
}

.lora-medium {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  color: #555353;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}